.history {
    min-height: 100vh;
    text-align: center;
}
.history_section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.history_card_media {
    height: 250px;
}
.hitstory_card {
    max-width: 345PX;
    min-height: 200px;
    margin: auto;
    margin-bottom: 20px;
}


.history_detail_card_media {
    height: 300px;
}
.history_detail_card {
    max-width: 500PX;
    min-height: 300px;
    margin: auto;
    margin-bottom: 20px;
}