.banner {
    background: url("../images/parking_images06.jpg") center center;
    height: 50vh;
    position: relative;
}

.banner_info {
    background-color: black;
    color: white;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner_search {
    display: flex;
    flex-direction: column;
}

.banner_searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #7780ff !important;
}

.banner_info > button {
    background-color: #7780ff;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner_info > button:hover {
    background-color: white;
    color: #7780ff;
}

.banner_info > h5 {
    margin-top: 10px;
}
